<div class="bgcolor " *ngIf="this.musicList && this.musicList.length>0">


    <div class="row d-flex mb-5 h-100 position-relative">

        <img id="posterArtist" class="p-0" [src]="musicList[0].thumbnailUrl" referrerpolicy="no-referrer" alt="">
        <div class="col-12 col-md-6 d-flex flex-column  m-2 albumInfo position-absolute bottom-0">

            <h3 class=" text-white fw-bold">ALBUM</h3>

            <h1 class="titleClass text-white line-height-1"> {{this.musicList[0].album}}</h1>

            <h4 class=" text-white fw-bold font20px">{{this.musicList[0].artists[0].name}}</h4>

            <div>
                <i (click)="playAlbum()" class=' bx bx-play-circle mt-2 text-white albumListOption'></i>
                <i (click)="openModalEditPlaylist()" class='bx bxs-playlist mt-2 text-white albumListOption'></i>
            </div>

        </div>
    </div>



    <h3 class=" text-white ml-5 fw-bold font25px">Playlist</h3>


    <ul class="list-group bgcolor" *ngFor="let op of musicList;let i = index">
        <li class="list-group-item bgcolor borderList text-white">
            <div class="d-flex justify-content-start align-items-center">
                <div class="dropdown">
                    <button class="btn text-white " type="button" [id]="'dropdownMenuButton1-'+i"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bx bx-dots-vertical-rounded font25px line-height-34'></i>
                    </button>
                    <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton1-'+i">
                        <li><a class="dropdown-item" (click)="addToQueue(op)">Aggiungi alla coda</a></li>
                        <li><a class="dropdown-item" (click)="addToPlaylist(op)">Aggiungi a playlist </a></li>
                    </ul>
                </div>

                
                <div class=" d-flex justify-content-end" *ngIf="!checkCurrentSong(op.youtubeId)"><i (click)="playMusic(op)"
                         class=' bx bx-play-circle font40px'></i></div>


                <div *ngIf="checkCurrentSong(op.youtubeId)" class=" d-flex justify-content-end"><i (click)="pausePlayer()"
                         class=' bx bx-pause-circle font40px'></i></div>





                <div class="ellips"> <img referrerpolicy="no-referrer" [src]="op.thumbnailUrl" alt=""
                        class="w-40px ml-10px"></div>


                <div class="ellipsTitle">{{op.title}}</div>
                <div class="ellipsTitle text-white hidemobile line-height-1">
                    <ng-container *ngFor="let artist of op.artists">

                        {{artist.name}} &nbsp;
                    </ng-container>

                </div>

                <div class="ml-5 hidemobile">{{op.duration.label}}</div>



            </div>
        </li>
    </ul>

</div>